<div *ngIf="isAuth" class=" px-2 bg-light sidebar ">
  <div class="logo-container">
    <a routerLink="" class="text-primary nav-link fw-bolder text-center fa-2x pb-5  ">  LOGO</a>
  </div>
  <div class="payment">
    <h5 class="text-muted mb-2 ">Paiment</h5>
    <div>
      <ul *ngFor="let item of paymentItems" class="">
        <li class=" nav-item sidebar-list">
          <a class=" nav-link fw-bold list-link"  [ngClass]="{'selected': item === selectedItem }"  [routerLink]="item.route" (click)="onClick(item)">
            <i  [class]="item.icon"></i>
            <span class=" px-3 sidebar-list-nom">{{ item.nom}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="gestion">
    <h5  class="text-muted mb-2 ">Gestion</h5>
    <div>
      <ul *ngFor="let item of gestionItems">
        <li class=" nav-item sidebar-list">
          <a class="nav-link fw-bold list-link" [ngClass]="{'selected': item === selectedItem}" [routerLink]="item.route" (click)="onClick(item)">
            <i [class]="item.icon"></i>
            <span class=" px-3 sidebar-list-nom">{{ item.nom}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
